.side-nav {
    background-color: var(--bg-color);
    min-width: 200px;
    padding: 1rem;
    height: auto;
}

.side-nav h2 {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.side-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-nav li {
    margin-bottom: 0.5rem;
}

.side-nav a {
    color: #333;
    text-decoration: none;
}

.side-nav a:hover {
    text-decoration: underline;
}