<footer class="footer-container">
    <div class="logo"></div>
    <div class="useful-links">
        <div class="links-title">
            <p>Useful <span>Links</span></p>
        </div>
        <ul>
            <li><fa-icon [ngStyle]="{'color': '#110B49'}" [icon]="bulletIcon"></fa-icon> Home</li>
            <li><fa-icon [ngStyle]="{'color': '#110B49'}" [icon]="bulletIcon"></fa-icon> Homemade</li>
            <li><fa-icon [ngStyle]="{'color': '#110B49'}" [icon]="bulletIcon"></fa-icon> Restaurant</li>
            <li><fa-icon [ngStyle]="{'color': '#110B49'}" [icon]="bulletIcon"></fa-icon> Events</li>
        </ul>
    </div>

    <div class="contact">
        <div class="contact-title">
            <p>Contact</p>
        </div>
    </div>
</footer>