<header>
  <div class="container">
    <div class="logo">
      <a href="/home"><img src="assets/img/logo.jpeg" alt="Logo" /></a>
    </div>
    <nav>
      <ul class="menu">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li>
          <a href="/product">Products</a>
          <ul class="submenu">
            <li><a href="/restaurant">Restaurant</a></li>
            <!-- <li><a href="#">Product 2</a></li>
            <li><a href="#">Product 3</a></li> -->
          </ul>
        </li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <div class="loginBtn">
        <!-- change app-button to profile image if user logged in based on jwt token in localstorage -->
        <app-button
          [iconName]="icon"
          [buttonText]="'Login'"
          (btnClick)="toLogin()"
        ></app-button>
      </div>
    </nav>
  </div>
</header>
