<header>
    <div class="container">
        <div class="logo">
            <img src="assets/img/logo.jpeg" alt="Logo">
        </div>
        <nav>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li>
                    <a href="#">Products</a>
                    <!-- <ul class="submenu">
                        <li><a href="#">Product 1</a></li>
                        <li><a href="#">Product 2</a></li>
                        <li><a href="#">Product 3</a></li>
                    </ul> -->
                </li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="loginBtn">
                <app-button [iconName]="icon" [buttonText]="'Login'" (btnClick)="toLogin()"></app-button>
            </div>
        </nav>
    </div>
</header>