<div class="flex flex-1 w-full h-full justify-start items-center flex-col py-20">

    <div class="flex w-10/12 justify-end">
        <form (ngSubmit)="onSubmit()" action="">
            <app-button [buttonText]="'Add New'"></app-button>
        </form>
    </div>

    <div class="flex w-10/12 mt-10">
        <div class="flex justify-start items-center w-4/5">

            <div *ngFor="let items of userListing">
                <!-- <a [href]="'/restaurant/' + listing._id"> -->
                <div
                    class="flex flex-col cursor-pointer w-40 border-2 border-solid border-primary rounded-xl mt-5 ml-5 hover:-translate-x-0.5 hover:-translate-y-0.5 hover:shadow-sm hover:transition-all">
                    <div class="h-3/4 flex justify-center items-center"><img class="w-9/12 h-4/5 object-scale-down"
                            src="assets/img/Taco_Bell.png" alt="">
                    </div>
                    <hr class="border border-solid border-primary">
                    <div class="h-fit w-auto px-1 py-2.5">
                        <div class="flex justify-between items-center w-full">
                            <div class="header-title">
                                <p class="font-semibold text-primary text-base w-full">
                                    {{items.listing.list_name}}</p>
                            </div>
                            <div class="header-rating">
                                <!-- <p class="font-medium text-sm text-primary w-full"><fa-icon
                                    [ngStyle]="{'color' : '#FFAB00' }" [icon]="faStar"></fa-icon> 4.6/5</p> -->
                            </div>
                        </div>
                        <div class="content-location">
                            <p class="text-sm text-primary">Cyberjaya</p>
                        </div>
                        <div class="content-category">
                            <p class="text-xs text-placeholder">{{items.listing.list_type}}</p>
                        </div>
                    </div>
                </div>
                <!-- </a> -->
            </div>
        </div>
    </div>
</div>