.container {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* carousel container */
.carousel {
    width: 100%;
    height: 15rem;
    margin-bottom: 5rem;
    margin-top: 1rem;
    border: 1px solid black;
}

/* restaurant container */
.restaurant {
    display: flex;
    width: 100%;
}

/* restaurant detail container */
.rest-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    flex: 2;
}

.rest-detail {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 80%;
}

.title-container {
    display: flex;
    flex-direction: column;
}

.rest-label p {
    background-color: var(--primary-color);
    border-radius: 10px;
    width: fit-content;
    padding: 5px 10px;
    font-size: 11px;
    font-weight: 500;
    color: var(--secondary-color);
}

.rest-name h1 {
    font-weight: 500;
    color: var(--primary-color);
}

.rest-location p {
    font-size: 14px;
    font-weight: 400;
    color: var(--placeholder-color);
    margin-top: -10px;
}


.overview {
    margin-top: 2rem;
}

.overview h4 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: var(--primary-color);
}

.overview p {
    font-size: 14px;
    line-height: 1.6;
    color: var(--primary-color);
}

/* features section */
.features {
    margin-top: 2rem;
}

.features h4 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: var(--primary-color);
}

/* pricing section */
.pricing {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
}

.pricing h4 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: var(--primary-color);
}

.pricing-category {
    width: 100%;
    margin-top: 10px;
}

.pricing-title {
    padding: 10px;
    width: 100%;
    color: var(--primary-color);
    font-weight: 500;
    background-color: var(--secondary-color-20);
    border-bottom: 2px solid var(--primary-color);
}

.menu-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px;
}

.menu-img {
    display: flex;
    flex: 0.5;
}

.menu-img img {
    width: 60px;
}

.menu-detail {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.menu-name p {
    color: var(--primary-color);
    font-weight: 500;
}

.menu-desc p {
    font-size: 12px;
    line-height: 1.6;
    color: var(--placeholder-color);
}

.menu-price {
    display: flex;
    justify-content: center;
    flex: 1;
}

.menu-price p {
    color: var(--primary-color);
    font-weight: 500;
}

/* similar listing */
.similar-listing {
    margin-top: 2rem;
}

.similar-listing h4 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: var(--primary-color);
}

/* right-section container  */
.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
    height: auto;
}

.opening {
    display: flex;
    width: 80%;
    flex-direction: column;
    height: fit-content;
    border: 1px solid var(--placeholder-color);
    border-radius: 10px;
}

.opening-title {
    padding: 10px;
    color: var(--primary-color);
    font-weight: 500;
    background-color: var(--secondary-color-20);
    border-bottom: 2px solid var(--primary-color);
}

.opening-detail {
    display: flex;
    flex-direction: column;
}

.opening-day {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.opening-day p {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
}

/* location section */
.location {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.location-title {
    padding: 10px;
    color: var(--primary-color);
    font-weight: 500;
    background-color: var(--secondary-color-20);
    border-bottom: 2px solid var(--primary-color);
}

.location-detail {
    padding: 10px;
}

.location-detail p {
    font-size: 13px;
    color: var(--primary-color);
    font-weight: 500;
    margin: 5px 0;
}