<div class="container">
    <div class="carousel">

    </div>

    <div class="restaurant">
        <div class="rest-container">
            <div class="rest-detail">
                <div class="title-container">
                    <div class="rest-label">
                        <p>Restaurant</p>
                    </div>
                    <div class="rest-name">
                        <h1>Taco Bell</h1>
                    </div>
                    <div class="rest-location">
                        <p>Neo Cyber</p>
                    </div>
                </div>

                <section class="overview">
                    <h4>Overview</h4>
                    <p>Taco Bell originated in California, United States of America. It was founded by Glen Bell, and he
                        opened the first Taco Bell restaurant back in 1962 in Downey, California. Before Taco Bell, he
                        originally owned and operated a hamburger stand called Bell’s Hamburgers in California, built in
                        1948 on the border of San Bernardino and the city of Colton. Glen opened his first taco stand,
                        Taco
                        Tia in 1954, selling tacos.</p>
                </section>

                <section class="features">
                    <h4>Features</h4>
                </section>

                <section class="pricing">
                    <h4>Pricing</h4>
                    <div class="pricing-category">
                        <div class="pricing-title">
                            <p>Cold Appetizers</p>
                        </div>
                        <!-- menu list -->
                        <div class="menu-container">
                            <div class="menu-img">
                                <img src="assets/img/Taco_Bell.png" alt="">
                            </div>

                            <div class="menu-detail">
                                <div class="menu-name">
                                    <p>Crunchwrap Supreme</p>
                                </div>
                                <div class="menu-desc">
                                    <p>Seasoned Ground Beef, Ground Chicken, Grilled Chicken, Blackbeans</p>
                                </div>
                            </div>
                            <div class="menu-price">
                                <p>RM15</p>
                            </div>
                        </div>

                        <div class="menu-container">
                            <div class="menu-img">
                                <img src="assets/img/Taco_Bell.png" alt="">
                            </div>

                            <div class="menu-detail">
                                <div class="menu-name">
                                    <p>Crunchwrap Supreme</p>
                                </div>
                                <div class="menu-desc">
                                    <p>Seasoned Ground Beef, Ground Chicken, Grilled Chicken, Blackbeans</p>
                                </div>
                            </div>
                            <div class="menu-price">
                                <p>RM15</p>
                            </div>
                        </div>

                        <div class="menu-container">
                            <div class="menu-img">
                                <img src="assets/img/Taco_Bell.png" alt="">
                            </div>

                            <div class="menu-detail">
                                <div class="menu-name">
                                    <p>Crunchwrap Supreme</p>
                                </div>
                                <div class="menu-desc">
                                    <p>Seasoned Ground Beef, Ground Chicken, Grilled Chicken, Blackbeans</p>
                                </div>
                            </div>
                            <div class="menu-price">
                                <p>RM15</p>
                            </div>
                        </div>
                    </div>

                    <div class="pricing-category">
                        <div class="pricing-title">
                            <p>Soups</p>
                        </div>
                        <!-- menu list -->
                        <div class="menu-container">
                            <div class="menu-img">
                                <img src="assets/img/Taco_Bell.png" alt="">
                            </div>

                            <div class="menu-detail">
                                <div class="menu-name">
                                    <p>Crunchwrap Supreme</p>
                                </div>
                                <div class="menu-desc">
                                    <p>Seasoned Ground Beef, Ground Chicken, Grilled Chicken, Blackbeans</p>
                                </div>
                            </div>
                            <div class="menu-price">
                                <p>RM15</p>
                            </div>
                        </div>

                        <div class="menu-container">
                            <div class="menu-img">
                                <img src="assets/img/Taco_Bell.png" alt="">
                            </div>

                            <div class="menu-detail">
                                <div class="menu-name">
                                    <p>Crunchwrap Supreme</p>
                                </div>
                                <div class="menu-desc">
                                    <p>Seasoned Ground Beef, Ground Chicken, Grilled Chicken, Blackbeans</p>
                                </div>
                            </div>
                            <div class="menu-price">
                                <p>RM15</p>
                            </div>
                        </div>

                        <div class="menu-container">
                            <div class="menu-img">
                                <img src="assets/img/Taco_Bell.png" alt="">
                            </div>

                            <div class="menu-detail">
                                <div class="menu-name">
                                    <p>Crunchwrap Supreme</p>
                                </div>
                                <div class="menu-desc">
                                    <p>Seasoned Ground Beef, Ground Chicken, Grilled Chicken, Blackbeans</p>
                                </div>
                            </div>
                            <div class="menu-price">
                                <p>RM15</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="similar-listing">
                    <h4>Similar Listing</h4>
                </section>

                <section class="review">

                </section>
            </div>
        </div>

        <!-- right section for opening hours -->
        <div class="right-section">
            <section class="opening">
                <div class="opening-title">
                    <p>Opening Hours</p>
                </div>
                <div class="opening-detail">
                    <div class="opening-day">
                        <p>Monday</p>
                        <p>09:00 AM - 08:00 PM</p>
                    </div>
                    <div class="opening-day">
                        <p>Tuesday</p>
                        <p>09:00 AM - 08:00 PM</p>
                    </div>
                    <div class="opening-day">
                        <p>Wednesday</p>
                        <p>09:00 AM - 08:00 PM</p>
                    </div>
                </div>
            </section>

            <section class="location">
                <div class="location-title">
                    <p>Location</p>
                </div>

                <div class="location-detail">
                    <p>SD-2, Cottage Walk, off, Persiaran Apec, Cyberjaya, 63000 Sepang, Selangor</p>
                    <p>013 454 9584</p>
                    <p>paishx@gmail.com</p>
                </div>

            </section>
        </div>
    </div>


</div>