<div class="container">
  <div class="carousel"></div>

  <div class="restaurant">
    <div class="rest-container">
      <div class="rest-detail">
        <div class="title-container">
          <div class="rest-label">
            <p>Restaurant</p>
          </div>
          <div class="rest-name">
            <h1>Taco Bell</h1>
          </div>
          <div class="rest-location">
            <p>Neo Cyber</p>
          </div>
        </div>

        <section class="overview">
          <h4>Overview</h4>
          <p>
            Taco Bell originated in California, United States of America. It was
            founded by Glen Bell, and he opened the first Taco Bell restaurant
            back in 1962 in Downey, California. Before Taco Bell, he originally
            owned and operated a hamburger stand called Bell’s Hamburgers in
            California, built in 1948 on the border of San Bernardino and the
            city of Colton. Glen opened his first taco stand, Taco Tia in 1954,
            selling tacos.
          </p>
        </section>

        <section class="features">
          <h4>Features</h4>
        </section>

        <section class="pricing">
          <h4>Pricing</h4>
          <div class="pricing-category">
            <div class="pricing-title">
              <p>Cold Appetizers</p>
            </div>
            <!-- menu list -->
            <div class="menu-container">
              <div class="menu-img">
                <img src="assets/img/Taco_Bell.png" alt="" />
              </div>

              <div class="menu-detail">
                <div class="menu-name">
                  <p>Crunchwrap Supreme</p>
                </div>
                <div class="menu-desc">
                  <p>
                    Seasoned Ground Beef, Ground Chicken, Grilled Chicken,
                    Blackbeans
                  </p>
                </div>
              </div>
              <div class="menu-price">
                <p>RM15</p>
              </div>
            </div>

            <div class="menu-container">
              <div class="menu-img">
                <img src="assets/img/Taco_Bell.png" alt="" />
              </div>

              <div class="menu-detail">
                <div class="menu-name">
                  <p>Crunchwrap Supreme</p>
                </div>
                <div class="menu-desc">
                  <p>
                    Seasoned Ground Beef, Ground Chicken, Grilled Chicken,
                    Blackbeans
                  </p>
                </div>
              </div>
              <div class="menu-price">
                <p>RM15</p>
              </div>
            </div>

            <div class="menu-container">
              <div class="menu-img">
                <img src="assets/img/Taco_Bell.png" alt="" />
              </div>

              <div class="menu-detail">
                <div class="menu-name">
                  <p>Crunchwrap Supreme</p>
                </div>
                <div class="menu-desc">
                  <p>
                    Seasoned Ground Beef, Ground Chicken, Grilled Chicken,
                    Blackbeans
                  </p>
                </div>
              </div>
              <div class="menu-price">
                <p>RM15</p>
              </div>
            </div>
          </div>

          <div class="pricing-category">
            <div class="pricing-title">
              <p>Soups</p>
            </div>
            <!-- menu list -->
            <div class="menu-container">
              <div class="menu-img">
                <img src="assets/img/Taco_Bell.png" alt="" />
              </div>

              <div class="menu-detail">
                <div class="menu-name">
                  <p>Crunchwrap Supreme</p>
                </div>
                <div class="menu-desc">
                  <p>
                    Seasoned Ground Beef, Ground Chicken, Grilled Chicken,
                    Blackbeans
                  </p>
                </div>
              </div>
              <div class="menu-price">
                <p>RM15</p>
              </div>
            </div>

            <div class="menu-container">
              <div class="menu-img">
                <img src="assets/img/Taco_Bell.png" alt="" />
              </div>

              <div class="menu-detail">
                <div class="menu-name">
                  <p>Crunchwrap Supreme</p>
                </div>
                <div class="menu-desc">
                  <p>
                    Seasoned Ground Beef, Ground Chicken, Grilled Chicken,
                    Blackbeans
                  </p>
                </div>
              </div>
              <div class="menu-price">
                <p>RM15</p>
              </div>
            </div>

            <div class="menu-container">
              <div class="menu-img">
                <img src="assets/img/Taco_Bell.png" alt="" />
              </div>

              <div class="menu-detail">
                <div class="menu-name">
                  <p>Crunchwrap Supreme</p>
                </div>
                <div class="menu-desc">
                  <p>
                    Seasoned Ground Beef, Ground Chicken, Grilled Chicken,
                    Blackbeans
                  </p>
                </div>
              </div>
              <div class="menu-price">
                <p>RM15</p>
              </div>
            </div>
          </div>
        </section>

        <section class="similar-listing">
          <h4>Similar Listing</h4>
        </section>

        <section class="review">
          <h4>Review (4)</h4>
          <div class="review-rating">
            <div class="rating-overview">
              <span>3.2</span>
              <p>out of 5.0</p>
              <div class="star-rating">
                <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="faStar"></fa-icon>
                <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="faStar"></fa-icon>
                <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="faStar"></fa-icon>
                <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="faStarHalfStroke"></fa-icon>
                <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="regStar"></fa-icon>
              </div>
            </div>
            <hr />
            <div class="rating-bars">
              <div class="rating-bars-item">
                <span class="rating-bars-name">Service</span>
                <span class="rating-bars-inner">
                  <span class="rating-bars-rating high" data-rating="4">
                    <span class="rating-bars-rating-inner" style="width: 100%"></span>
                  </span>
                  <p>5.0</p>
                </span>
              </div>
              <div class="rating-bars-item">
                <span class="rating-bars-name">Service</span>
                <span class="rating-bars-inner">
                  <span class="rating-bars-rating high" data-rating="4">
                    <span class="rating-bars-rating-inner" style="width: 100%"></span>
                  </span>
                  <p>5.0</p>
                </span>
              </div>
              <div class="rating-bars-item">
                <span class="rating-bars-name">Service</span>
                <span class="rating-bars-inner">
                  <span class="rating-bars-rating high" data-rating="4">
                    <span class="rating-bars-rating-inner" style="width: 100%"></span>
                  </span>
                  <p>5.0</p>
                </span>
              </div>
              <div class="rating-bars-item">
                <span class="rating-bars-name">Service</span>
                <span class="rating-bars-inner">
                  <span class="rating-bars-rating high" data-rating="4">
                    <span class="rating-bars-rating-inner" style="width: 100%"></span>
                  </span>
                  <p>5.0</p>
                </span>
              </div>
            </div>
          </div>

          <div class="comment-content">
            <div class="avatar">
              <img src="assets/img/avatar.jpg" alt="" />
            </div>

            <div class="reviewer">
              <div class="reviewer-detail">
                <div class="reviewer-item">
                  <div class="reviewer-name">
                    <p>John Doe</p>
                  </div>
                  <div class="reviewer-date">
                    <p>August 8, 2022 at 9:25 pm</p>
                  </div>
                </div>
                <div class="reviewer-rating"></div>
              </div>
              <div class="reviewer-comment">
                <p>review trying out</p>
              </div>
            </div>
          </div>
          <hr>
        </section>

        <section class="review-form">
          <div class="form-box">
            <h3>Add Review</h3>

            <div class="star-rating">
              <div class="cat-rating">
                <p>Service</p>
                <div class="cat-star">
                  <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="regStar"></fa-icon>
                  <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="regStar"></fa-icon>
                  <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="regStar"></fa-icon>
                  <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="regStar"></fa-icon>
                  <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="regStar"></fa-icon>
                </div>
              </div>

              <div class="cat-rating">
                <p>Value for Money</p>
                <div class="cat-star">
                  <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="regStar"></fa-icon>
                  <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="regStar"></fa-icon>
                  <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="regStar"></fa-icon>
                  <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="regStar"></fa-icon>
                  <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="regStar"></fa-icon>
                </div>
              </div>

              <div class="cat-rating">
                <p>Location</p>
                <div class="cat-star">
                  <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="regStar"></fa-icon>
                  <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="regStar"></fa-icon>
                  <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="regStar"></fa-icon>
                  <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="regStar"></fa-icon>
                  <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="regStar"></fa-icon>
                </div>
              </div>

              <div class="cat-rating">
                <p>Cleanliness</p>
                <div class="cat-star">
                  <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="regStar"></fa-icon>
                  <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="regStar"></fa-icon>
                  <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="regStar"></fa-icon>
                  <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="regStar"></fa-icon>
                  <fa-icon [ngStyle]="{ color: '#FFAB00' }" [icon]="regStar"></fa-icon>
                </div>
              </div>
            </div>
            <hr>
            <div class="form-item">
              <textarea name="" id="" cols="100" rows="10"></textarea>
            </div>
            <span class="btn-submit">
              <app-button [buttonText]="'Submit'"></app-button>
            </span>
          </div>
        </section>
      </div>
    </div>

    <!-- ##################### right section for opening hours ##################### -->
    <div class="right-section">
      <section class="opening">
        <div class="opening-title">
          <p>Opening Hours</p>
        </div>
        <div class="opening-detail">
          <div class="opening-day">
            <p>Monday</p>
            <p>09:00 AM - 08:00 PM</p>
          </div>
          <div class="opening-day">
            <p>Tuesday</p>
            <p>09:00 AM - 08:00 PM</p>
          </div>
          <div class="opening-day">
            <p>Wednesday</p>
            <p>09:00 AM - 08:00 PM</p>
          </div>
        </div>
      </section>

      <section class="location">
        <div class="location-title">
          <p>Location & Contact</p>
        </div>

        <div class="location-detail">
          <div class="detail-container">
            <fa-icon [ngStyle]="{ color: '#FFAB00', 'margin-right': '1rem' }" [icon]="faLocationDot"></fa-icon>
            <p>
              SD-2, Cottage Walk, off, Persiaran Apec, Cyberjaya, 63000 Sepang,
              Selangor SD-2, Cottage Walk, off, Persiaran Apec, Cyberjaya, 63000
              Sepang, Selangor
            </p>
          </div>
          <div class="detail-container">
            <fa-icon [ngStyle]="{ color: '#FFAB00', 'margin-right': '1rem' }" [icon]="faMobileRetro"></fa-icon>
            <p>013 454 9584</p>
          </div>
          <div class="detail-container">
            <fa-icon [ngStyle]="{ color: '#FFAB00', 'margin-right': '1rem' }" [icon]="faEnvelope"></fa-icon>
            <p>paishx@gmail.com</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>