<div class="container">
    <div class="box-left">

    </div>

    <div class="box-right">
        <div class="login-form">
            <h1>Login</h1>
            <form (ngSubmit)="loginSubmit()" #loginForm="ngForm">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" [(ngModel)]="formData.email"
                        placeholder="Username">
                    <span class="vl"></span>
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                        [(ngModel)]="formData.password" placeholder="Password">
                    <div class="login-btn">
                        <app-button [buttonText]="'Login'"></app-button>
                        <a href="/reset">Forgot password ?</a>
                    </div>
                    <div class="horizontal-line">
                        <hr>
                        <span>or</span>
                        <hr>
                    </div>
                    <div class="register">
                        <p>New to Cyberjaya Info? <a href="/register">Sign Up</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>