<div class="container">
    <app-header></app-header>

    <div class="attractions-box">
        <div class="attractions-img">
            <img src="assets/img/pizza.png" alt="">
            <img src="assets/img/taco.png" alt="">
            <img src="assets/img/cake.png" alt="">
        </div>
        <div class="find-attractions">
            <h1>Find Nearby <span>Attractions</span></h1>
        </div>
        <div class="attractions-form">
            <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
                <div class="form-group">
                    <input type="text" class="form-control" id="search" name="search" [(ngModel)]="search.searchInput"
                        placeholder="What's in your mind ?">
                    <span class="vl"></span>
                    <input type="text" class="form-control" id="search" name="search" [(ngModel)]="search.searchInput"
                        placeholder="Categories">
                    <app-button [iconName]="searchIcon" [buttonText]="'Search'"></app-button>
                </div>
            </form>
        </div>

        <div class="top-views">
            <div class="top-views-title">
                <h2>Top <span>Views</span></h2>
            </div>
            <div class="top-views-item">
                <div class="item-box">
                    <div class="item-img"><img src="assets/img/Taco_Bell.png" alt=""></div>
                    <hr>
                    <div class="item-content">
                        <div class="content-header">
                            <div class="header-title">
                                <p>Taco Bell</p>
                            </div>
                            <div class="header-rating">
                                <p><fa-icon [ngStyle]="{'color' : '#FFAB00' }" [icon]="faStar"></fa-icon> 4.6/5</p>
                            </div>
                        </div>
                        <div class="content-location">
                            <p>Cyberjaya</p>
                        </div>
                        <div class="content-category">
                            <p>Homemade</p>
                        </div>
                    </div>
                </div>

                <div class="item-box">
                    <div class="item-img"><img src="assets/img/Taco_Bell.png" alt=""></div>
                    <hr>
                    <div class="item-content">
                        <div class="content-header">
                            <div class="header-title">
                                <p>Taco Bell</p>
                            </div>
                            <div class="header-rating">
                                <p><fa-icon [ngStyle]="{'color' : '#FFAB00' }" [icon]="faStar"></fa-icon> 4.6/5</p>
                            </div>
                        </div>
                        <div class="content-location">
                            <p>Cyberjaya</p>
                        </div>
                        <div class="content-category">
                            <p>Homemade</p>
                        </div>
                    </div>
                </div>

                <div class="item-box">
                    <div class="item-img"><img src="assets/img/Taco_Bell.png" alt=""></div>
                    <hr>
                    <div class="item-content">
                        <div class="content-header">
                            <div class="header-title">
                                <p>Taco Bell</p>
                            </div>
                            <div class="header-rating">
                                <p><fa-icon [ngStyle]="{'color' : '#FFAB00' }" [icon]="faStar"></fa-icon> 4.6/5</p>
                            </div>
                        </div>
                        <div class="content-location">
                            <p>Cyberjaya</p>
                        </div>
                        <div class="content-category">
                            <p>Homemade</p>
                        </div>
                    </div>
                </div>

                <div class="item-box">
                    <div class="item-img"><img src="assets/img/Taco_Bell.png" alt=""></div>
                    <hr>
                    <div class="item-content">
                        <div class="content-header">
                            <div class="header-title">
                                <p>Taco Bell</p>
                            </div>
                            <div class="header-rating">
                                <p><fa-icon [ngStyle]="{'color' : '#FFAB00' }" [icon]="faStar"></fa-icon> 4.6/5</p>
                            </div>
                        </div>
                        <div class="content-location">
                            <p>Cyberjaya</p>
                        </div>
                        <div class="content-category">
                            <p>Homemade</p>
                        </div>
                    </div>
                </div>

                <div class="item-box">
                    <div class="item-img"><img src="assets/img/Taco_Bell.png" alt=""></div>
                    <hr>
                    <div class="item-content">
                        <div class="content-header">
                            <div class="header-title">
                                <p>Taco Bell</p>
                            </div>
                            <div class="header-rating">
                                <p><fa-icon [ngStyle]="{'color' : '#FFAB00' }" [icon]="faStar"></fa-icon> 4.6/5</p>
                            </div>
                        </div>
                        <div class="content-location">
                            <p>Cyberjaya</p>
                        </div>
                        <div class="content-category">
                            <p>Homemade</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="see-more"><a href="">see more...</a></div>

        </div>

        <div class="top-views">
            <div class="top-views-title">
                <h2>Recently <span>Added</span></h2>
            </div>
            <div class="top-views-item">
                <div class="item-box">
                    <div class="item-img"><img src="assets/img/Taco_Bell.png" alt=""></div>
                    <hr>
                    <div class="item-content">
                        <div class="content-header">
                            <div class="header-title">
                                <p>Taco Bell</p>
                            </div>
                            <div class="header-rating">
                                <p><fa-icon [ngStyle]="{'color' : '#FFAB00' }" [icon]="faStar"></fa-icon> 4.6/5</p>
                            </div>
                        </div>
                        <div class="content-location">
                            <p>Cyberjaya</p>
                        </div>
                        <div class="content-category">
                            <p>Homemade</p>
                        </div>
                    </div>
                </div>

                <div class="item-box">
                    <div class="item-img"><img src="assets/img/Taco_Bell.png" alt=""></div>
                    <hr>
                    <div class="item-content">
                        <div class="content-header">
                            <div class="header-title">
                                <p>Taco Bell</p>
                            </div>
                            <div class="header-rating">
                                <p><fa-icon [ngStyle]="{'color' : '#FFAB00' }" [icon]="faStar"></fa-icon> 4.6/5</p>
                            </div>
                        </div>
                        <div class="content-location">
                            <p>Cyberjaya</p>
                        </div>
                        <div class="content-category">
                            <p>Homemade</p>
                        </div>
                    </div>
                </div>

                <div class="item-box">
                    <div class="item-img"><img src="assets/img/Taco_Bell.png" alt=""></div>
                    <hr>
                    <div class="item-content">
                        <div class="content-header">
                            <div class="header-title">
                                <p>Taco Bell</p>
                            </div>
                            <div class="header-rating">
                                <p><fa-icon [ngStyle]="{'color' : '#FFAB00' }" [icon]="faStar"></fa-icon> 4.6/5</p>
                            </div>
                        </div>
                        <div class="content-location">
                            <p>Cyberjaya</p>
                        </div>
                        <div class="content-category">
                            <p>Homemade</p>
                        </div>
                    </div>
                </div>

                <div class="item-box">
                    <div class="item-img"><img src="assets/img/Taco_Bell.png" alt=""></div>
                    <hr>
                    <div class="item-content">
                        <div class="content-header">
                            <div class="header-title">
                                <p>Taco Bell</p>
                            </div>
                            <div class="header-rating">
                                <p><fa-icon [ngStyle]="{'color' : '#FFAB00' }" [icon]="faStar"></fa-icon> 4.6/5</p>
                            </div>
                        </div>
                        <div class="content-location">
                            <p>Cyberjaya</p>
                        </div>
                        <div class="content-category">
                            <p>Homemade</p>
                        </div>
                    </div>
                </div>

                <div class="item-box">
                    <div class="item-img"><img src="assets/img/Taco_Bell.png" alt=""></div>
                    <hr>
                    <div class="item-content">
                        <div class="content-header">
                            <div class="header-title">
                                <p>Taco Bell</p>
                            </div>
                            <div class="header-rating">
                                <p><fa-icon [ngStyle]="{'color' : '#FFAB00' }" [icon]="faStar"></fa-icon> 4.6/5</p>
                            </div>
                        </div>
                        <div class="content-location">
                            <p>Cyberjaya</p>
                        </div>
                        <div class="content-category">
                            <p>Homemade</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="see-more"><a href="">see more...</a></div>
        </div>

        <div class="top-views">
            <div class="top-views-title">
                <h2>Events</h2>
            </div>
            <div class="top-views-item">
                <div class="item-box">
                    <div class="item-img"><img src="assets/img/Taco_Bell.png" alt=""></div>
                    <hr>
                    <div class="item-content">
                        <div class="content-header">
                            <div class="header-title">
                                <p>Taco Bell</p>
                            </div>
                            <div class="header-rating">
                                <p><fa-icon [ngStyle]="{'color' : '#FFAB00' }" [icon]="faStar"></fa-icon> 4.6/5</p>
                            </div>
                        </div>
                        <div class="content-location">
                            <p>Cyberjaya</p>
                        </div>
                        <div class="content-category">
                            <p>Homemade</p>
                        </div>
                    </div>
                </div>

                <div class="item-box">
                    <div class="item-img"><img src="assets/img/Taco_Bell.png" alt=""></div>
                    <hr>
                    <div class="item-content">
                        <div class="content-header">
                            <div class="header-title">
                                <p>Taco Bell</p>
                            </div>
                            <div class="header-rating">
                                <p><fa-icon [ngStyle]="{'color' : '#FFAB00' }" [icon]="faStar"></fa-icon> 4.6/5</p>
                            </div>
                        </div>
                        <div class="content-location">
                            <p>Cyberjaya</p>
                        </div>
                        <div class="content-category">
                            <p>Homemade</p>
                        </div>
                    </div>
                </div>

                <div class="item-box">
                    <div class="item-img"><img src="assets/img/Taco_Bell.png" alt=""></div>
                    <hr>
                    <div class="item-content">
                        <div class="content-header">
                            <div class="header-title">
                                <p>Taco Bell</p>
                            </div>
                            <div class="header-rating">
                                <p><fa-icon [ngStyle]="{'color' : '#FFAB00' }" [icon]="faStar"></fa-icon> 4.6/5</p>
                            </div>
                        </div>
                        <div class="content-location">
                            <p>Cyberjaya</p>
                        </div>
                        <div class="content-category">
                            <p>Homemade</p>
                        </div>
                    </div>
                </div>

                <div class="item-box">
                    <div class="item-img"><img src="assets/img/Taco_Bell.png" alt=""></div>
                    <hr>
                    <div class="item-content">
                        <div class="content-header">
                            <div class="header-title">
                                <p>Taco Bell</p>
                            </div>
                            <div class="header-rating">
                                <p><fa-icon [ngStyle]="{'color' : '#FFAB00' }" [icon]="faStar"></fa-icon> 4.6/5</p>
                            </div>
                        </div>
                        <div class="content-location">
                            <p>Cyberjaya</p>
                        </div>
                        <div class="content-category">
                            <p>Homemade</p>
                        </div>
                    </div>
                </div>

                <div class="item-box">
                    <div class="item-img"><img src="assets/img/Taco_Bell.png" alt=""></div>
                    <hr>
                    <div class="item-content">
                        <div class="content-header">
                            <div class="header-title">
                                <p>Taco Bell</p>
                            </div>
                            <div class="header-rating">
                                <p><fa-icon [ngStyle]="{'color' : '#FFAB00' }" [icon]="faStar"></fa-icon> 4.6/5</p>
                            </div>
                        </div>
                        <div class="content-location">
                            <p>Cyberjaya</p>
                        </div>
                        <div class="content-category">
                            <p>Homemade</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="see-more"><a href="">see more...</a></div>
        </div>

        <div class="top-views">
            <div class="top-views-title">
                <h2>News</h2>
            </div>




            <div class="see-more"><a href="">see more...</a></div>
        </div>

        <app-footer></app-footer>

    </div>
</div>