<!-- dashboard view -->
<div *ngIf="isDashboardRoute()">

  <body class="min-h-screen w-full flex flex-col">
    <header class="z-40">
      <app-header></app-header>
    </header>

    <div class="flex min-h-full">
      <nav>
        <app-sidenav></app-sidenav>
      </nav>

      <article class="w-full">
        <router-outlet></router-outlet>
      </article>
    </div>

    <footer class="mt-auto">
      <app-footer></app-footer>
    </footer>
  </body>
</div>


<!-- non dashboard view -->
<div *ngIf="!isDashboardRoute()">

  <body class="min-h-screen w-full flex flex-col">
    <header>
      <app-header></app-header>
    </header>

    <article>
      <router-outlet></router-outlet>
    </article>

    <footer class="mt-auto">
      <app-footer></app-footer>
    </footer>
  </body>
</div>