<div class="container">
    <div class="box-left">

    </div>

    <div class="box-right">
        <div class="login-form">
            <h1>Register</h1>
            <form (ngSubmit)="loginSubmit()" #loginForm="ngForm">
                <div class="form-group">
                    <label for="username">Full Name</label>
                    <input type="text" class="form-control" id="fullname" name="fullname"
                        [(ngModel)]="credential.username" placeholder="Full Name">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username"
                        [(ngModel)]="credential.username" placeholder="Username">
                    <span class="vl"></span>
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password" name="password"
                        [(ngModel)]="credential.password" placeholder="Password">
                    <label for="password">Confirm Password</label>
                    <input type="text" class="form-control" id="cpassword" name="cpassword"
                        [(ngModel)]="credential.password" placeholder="Confirm Password">
                    <div class="login-btn">
                        <app-button [buttonText]="'Register'"></app-button>
                    </div>
                    <div class="horizontal-line">
                        <hr>
                        <span>or</span>
                        <hr>
                    </div>
                    <div class="register">
                        <p>Have an account? <a href="/login">Login</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>