.container {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
}

/* box left container */
.box-left {
    display: flex;
    width: 100%;
}

/* box right container */
.box-right {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    width: 30rem;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 0;
    margin: 100px 0;
}

.login-form h1 {
    color: var(--primary-color);
}

.login-form .form-group {
    display: flex;
    flex-direction: column;
}

.login-form label {
    font-size: 12px;
    font-weight: 500;
    color: var(--primary-color);
    margin-top: 10px;
}

.login-form input[type=text] {
    width: 20rem;
    height: 2rem;
    border: 1px solid var(--placeholder-color);
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
}

.login-form input[type=text]:focus {
    border: 1px solid var(--primary-color);
}

.login-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.login-btn a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 13px;
}

.horizontal-line {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin: 10px 0;
}

.horizontal-line hr {
    width: 100%;
    border: 0;
    height: 1px;
    background-color: var(--primary-color);
}

.horizontal-line span {
    padding: 10px;
    font-size: 12px;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--placeholder-color);
}

.register p {
    font-size: 13px;
}

.register p a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
}