<div class="container">
    <div class="box-left">

    </div>

    <div class="box-right">
        <div class="login-form">

            <ng-template [ngIf]="message !== null">
                <div class="message">
                    <div class="message-box">
                        <p>{{ message }}</p>
                    </div>
                </div>
            </ng-template>

            <h1>Register</h1>
            <!-- <p>{{message}}</p> -->
            <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
                <div class="form-group">
                    <label for="username">Full Name</label>
                    <input type="text" class="form-control" id="fullname" name="fullname"
                        [(ngModel)]="formData.fullName" placeholder="Full Name">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username"
                        [(ngModel)]="formData.username" placeholder="Username">
                    <label for="username">Email</label>
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="formData.email"
                        placeholder="Email">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                        [(ngModel)]="formData.password" placeholder="Password">
                    <label for="password">Confirm Password</label>
                    <input type="password" class="form-control" id="cpassword" name="cpassword"
                        [(ngModel)]="formData.cPassword" placeholder="Confirm Password">
                    <div class="login-btn">
                        <app-button [buttonText]="'Register'"></app-button>
                    </div>
                    <div class="horizontal-line">
                        <hr>
                        <span>or</span>
                        <hr>
                    </div>
                    <div class="register">
                        <p>Have an account? <a href="/login">Login</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>