button {
    padding: 8px 15px;
    color: var(--bg-color);
    background: var(--primary-color);
    border: none;
    border-bottom: 3px solid var(--secondary-color);
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
}