.container {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

/* Attraction component */

.attractions-box {
    width: 100%;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
}

.attractions-img {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.attractions-img img {
    width: 120px;
    margin: 0 60px;
}

.find-attractions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.find-attractions h1 {
    font-size: 50px;
    font-weight: 500;
    color: var(--primary-color);
}

.find-attractions h1 span {
    color: var(--secondary-color);
}

.attractions-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
}

.attractions-form .form-group {
    border: 3px solid var(--primary-color);
    border-radius: 20px;
    width: 100%;
    padding: 5px 5px;
}

.vl {
    border-left: 2px solid var(--primary-color);
    border-radius: 10px;
}

input {
    height: 40px;
    width: 150px;
    margin-right: 20px;
    border: hidden;
    outline: none;
    padding-left: 10px;
}

::placeholder {
    color: var(--placeholder-color);
    font-size: 15px;
}

/* Top Views component */
.top-views {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
}

.top-views-title {
    width: 80%;
}

.top-views-title h2 {
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--primary-color);
}

.top-views-title h2 span {
    color: var(--secondary-color);
}

.top-views-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
}

.item-box {
    width: 200px;
    height: 250px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.item-box:first-child {
    margin-left: 0;
}

.item-box:hover {
    transform: translate(-5px, -5px);
    transition: all 0.2s ease-out;
    box-shadow: 5px 3px 10px 2px rgba(0, 0, 0, 0.2);
}

.item-img {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-img img {
    width: 100%;
    height: 90%;
    object-fit: scale-down;
}

hr {
    border: 1px solid var(--primary-color)
}

.item-content {
    height: 30%;
    width: auto;
    padding: 5px 10px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-title p {
    font-weight: 600;
    color: var(--primary-color);
    font-size: 17px;
    width: 100%;
}

.header-rating p {
    font-weight: 500;
    font-size: 13px;
    color: var(--primary-color);
}

.content-location p {
    font-size: 13px;
    color: var(--primary-color);
}

.content-category p {
    font-size: 11px;
    color: var(--placeholder-color);
}

.see-more {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.see-more a {
    font-size: 13px;
    font-weight: 400;
    color: var(--primary-color);
    text-decoration: none;
}

.see-more:hover {
    text-decoration: underline;
}