<div class="flex flex-1 w-full h-full justify-start items-center flex-col py-20">
    <h1 class="flex w-11/12 text-3xl text-primary font-bold underline mb-20">
        Listing
    </h1>

    <div class="flex justify-center items-center w-11/12">
        <form [formGroup]="formData" class="w-9/12" enctype="multipart/form-data">


            <!-- section gallery -->
            <div formGroupName="gallery"
                class="flex flex-col border-2 border-solid border-primary p-10 rounded-lg shadow mt-10">
                <h1 class="text-xl font-semibold text-primary">Gallery</h1>

                <ngx-dropzone (change)="onSelect($event)">
                    <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>

                <div class="flex flex-row flex-wrap">
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f">
                        <ngx-dropzone-label class="flex justify-center items-center">{{
                            f.name
                            }}</ngx-dropzone-label>
                    </ngx-dropzone-image-preview>
                </div>
            </div>


            <!-- button submit -->
            <div class="flex justify-end items-center mt-10 pr-5 w-full">
                <app-button [buttonText]="'Submit'" (click)="onSubmit()"></app-button>
            </div>
        </form>
    </div>
</div>